input.input__text {
    border-radius: 0.6rem !important;
    -webkit-border-radius: 0.6rem !important;
    -moz-border-radius: 0.6rem !important;
    -ms-border-radius: 0.6rem !important;
    -o-border-radius: 0.6rem !important;
}